html {
  background: #000;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background: #000;
  margin: 0;
  min-height: 100%;
  padding: 0;
  overflow: hidden;
}

body:hover {
  cursor: pointer;
}

canvas {
  height: 100vh;
  width: 100vw;
}

.button--back {
  font-weight: bold;
  text-shadow: 0 0 5px #fff;
}

::-moz-selection { background: rgba(0,0,0,0); }
::selection { background: rgba(0,0,0,0); }