.page-content {
  line-height: 1.4;
  margin-top: 3rem;
  margin-inline: auto;
  max-width: 1200px;
  padding-inline: 1rem;
}

.collapse p {
  display: flex;
  height: 0;
  overflow: hidden;
}

code {
  background: rgba(255,255,0, .5);
  border: 1px solid #aeaeae;
  border-radius: .25rem;
  padding: .25rem;
}
