body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 0.2em;
}

body.background--dark {
  color: #696969;
}

main {
  padding: 5rem;
  text-align: center;
}

@view-transition {
  navigation: auto;
}

main.page-1 {
  transform: translateY(-50%);
}
main.page-3 {
  transform: translateY(50%);
}

main a {
  color: var(--color-accent);
  letter-spacing: .2em;
  text-decoration: none;
  text-transform: uppercase;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
